* {
    margin: 0%;
    padding: 0%;
}

.button {
    width: 75px;
    height: 75px;
    font-size: 40px;
    margin: 2px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(40, 56, 80);
    color: white;
    border: none;
}

.textview {
    width: 312px;
    margin: 3px;
    font-size: 50px;
    padding: 5px;
    background: white;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button_0 {
    width: 154px;
}

.button_igual {
    height: 154px;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: white;
    
}

body{
    background: black;
}